<!DOCTYPE html>
<html>
<head>
<title>
COURSE QUERY</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {background-color:#2c2196;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1{font-family:Arial, sans-serif;color:#ffffff;background-color:#2c2196;}
p {font-family:Cursive;font-size:20px;font-style:normal;font-weight:normal;color:#ffffff;background-color:#2c2196;text-align:center;}
</style>
</head>
<body>
<h1></h1>
<p>You are in the Course Query Page.</p>

<p>Please specify the filters below:</p>
<form action="#" method="post">
    <p>Department Name: </p>
    <p><input type="text" placeholder="Example: Physics" name="dname" /></p>
    <p>Course Num: </p>
    <p><input type="text" placeholder="Example:CS100"  name="cnum" /></p>
    <p>Course Title: </p>
    <p><input type="text" placeholder="Example: Database"  name="ctitle" /></p>
    <p>Credit Hours: </p>
    <p><input type="text" placeholder="Integer Value 0-9" name="chrs" /></p>
    <p><input type="submit" value="Submit Query"></p>
</form>
<footer style=" font-family:Cursive;font-size:14px;font-style:normal;font-weight:normal;color:#ffffff;background-color:#2c2196;text-align:center;">  This Project is Created By Mohammad Umar  </footer>  

</body>
</html>
