<!DOCTYPE html>
<html>
<head>
<title>
OPTIONS PAGE</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {background-color:#2c2196;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1{font-family:Arial, sans-serif;color:#ffffff;background-color:#2c2196;}
p {font-family:Cursive;font-size:20px;font-style:normal;font-weight:normal;color:#ffffff;background-color:#2c2196;text-align:center;}
</style>
</head>
<body>
<h1></h1>
<p>Welcome To My CS425 Project : A User Application To Access Data From The Database</p>
<p>You are in the options menu page.</p>
<p>Please enter the option number (1-5) to search data in that table :</p>
<p></p>
<p>1. Student_T</p>
<p>2. Professor_T</p>
<p>3. Course_T</p>
<p>4. Department_T</p>
<p>5. Classroom_T</p>
<form action="#" method="post">
    <p>Option No: </p>
    <p><input type="text" name="optdata"  /></p>
    <p><input type="submit" value="Submit Choice"></p>
</form>
<footer style=" font-family:Cursive;font-size:14px;font-style:normal;font-weight:normal;color:#ffffff;background-color:#2c2196;text-align:center;">  This Project is Created By Mohammad Umar  </footer>  

</body>
</html>
