<!DOCTYPE html>
<html>
<head>
<title>
PROFESSOR QUERY</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {background-color:#2c2196;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1{font-family:Arial, sans-serif;color:#ffffff;background-color:#2c2196;}
p {font-family:Cursive;font-size:20px;font-style:normal;font-weight:normal;color:#ffffff;background-color:#2c2196;text-align:center;}
</style>
</head>
<body>
<h1></h1>
<p>You are in the Professor Query Page.</p>

<p>Please specify the filters below:</p>
<form action="#" method="post">
    <p>Professor ID </p>
    <p><input type="text" placeholder="Example:A10000009" name="psdid" /></p>
    <p>First Name: </p>
    <p><input type="text" placeholder="Example: Mohammad"  name="pfn" /></p>
    <p>Last Name: </p>
    <p><input type="text" placeholder="Example: Umar"  name="pln" /></p>
    <p>Date of Birth: </p>
    <p><input type="text" placeholder="mm/dd/yyyy"  name="pdate" /></p>
    <p>Income: </p>
    <p><input type="text" placeholder="0-100000000"  name="inc" /></p>
    <p><input type="submit" value="Submit Query"></p>
</form>
<footer style=" font-family:Cursive;font-size:14px;font-style:normal;font-weight:normal;color:#ffffff;background-color:#2c2196;text-align:center;">  This Project is Created By Mohammad Umar  </footer>  
</body>
</html>
